/* ======================
   🌐 전역 공통 스타일
======================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: #333;
  margin: 0;
  background-color: #f4f6f8;
}

/* 링크 */
a {
  color: #1b263b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
