@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* ======================
   전역 스타일
======================== */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f8fafc;
  overflow: hidden;
  font-family:
    'Pretendard',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
