/* ======================
   전역 스타일
======================== */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f8fafc;
  overflow: hidden;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
